  body {
    background: black;
    font-family: Calibri;
    color: #5e5c56;
  }
  h1, h2, h4 {
    font-family: Arial;
    color: #c0cb7f;
  }
  a {
    color: #677f51;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  table {
    border: 1px solid #a64626;
    border-collapse: collapse;
    width: 250px;
    background-color: #222222
  }
  td {
    border: 1px solid #a64626;
    font-style: oblique;
    text-align: center;
  }
  ul {
    list-style-type: square;
  }
  ol {
    list-style-type: lower-greek;
  }
  dt {
    font-style: italic;
    color: #a64626
  }
