  h1 {
   color: red;
   font-size: 500%;
   text-align: center;
  }
  p {
    color: green;
    font-family: fantasy;
    text-align: center;
  }
  ol {
    color:green;
    list-style-type: decimal;
  }
  body {
    background-image: url(img/double-bubble-dark.png);
    font-family: cursive;
  }
  a {
    color: red;
  }
  a:hover {
    text-decoration: none;
    font-style: oblique;
    cursor: crosshair;
  }
  table {
    border: 1px solid green;
    border-collapse: collapse;
    text-align: center;
  }
  td {
    color:red;
    border: 1px dashed green
  }
